{% extends "base.html" %}

{% block titulo %} About {% endblock %}


{% block contenido %} 

<h1>Sobre nosotros</h1>

<h3>Creadores del blog: <b>Emanuel Liberal</b> y <b>Camilo Vega</b></h3>

<p>Somos Camilo Vega y Emanuel Liberal, de Uruguay y Argentina respectivamente. Estamos en el curso de Python de la plataforma Coderhouse. Se nos solicito realizar un blog para el proyecto final del curso. 

    "Empecé a estudiar programación porque quería un cambio en mi vida profesional. Siempre me atrajo el mundo de la programación, estudiando ingeniería tuve un acercamiento pero recién ahora me anime a estudiarlo." -Emanuel Liberal.
    
    "Tengo conocimientos de SQL y me gustaría complementarlo con Python y PowerBi. Estudio economía y creo que puedo implementar la programacion a la carrera." - Camilo Vega </p>
{% endblock %}