{% extends "base.html" %}
{% load static %}
{% block titulo %} {{ article.title}} {% endblock %}


{% block contenido %} 

<h1>{{ article.title }}</h1>
<h3> Por {{ article.article_author }}</h3>

<p>{{ article.article_content }}</p>

<div>
    <h2>Comentarios:</h2>
    <br/>
{% if not article.comments.all %}
    Sin comentarios aún!
    <a href="{% url 'add_comment' article.pk %}">Añadir comentario</a>

{% else %}
    {% for comment in article.comments.all %}
    <strong>
        {{ comment.name}} -
        {{ comment.date_added }}
    </strong>
    <br/>
    {{ comment.body }}
    <br/>
    <br/>
    <a href="{% url 'comment-delete' comment.pk %}">Borrar</a>
    <br/>
    <br/>
    {% endfor %}
    
    <br/>
{% endif %}
<br/><br/>
<a href="{% url 'add_comment' article.pk %}">Añadir otro comentario</a>
</div>
<br/>
<p><a class="btn2 btn-primary" href="{% url 'articles' %}">Regresar a la lista de artículos</a></p>
{% endblock %}