{% extends "base.html" %}
{% load static %}
{% block titulo %} Lista de países {% endblock %}


{% block contenido %} 

<h1>Países clasificados</h1>

<h2>Lista de países:</h2>

{% for country in countries %}
<li>Nombre del país: {{ country.name }}</li>
<li>Continente: {{ country.continent }}</li>


{% if user.is_authenticated %}
(
<a href="{% url 'country_update' country.id %}">Editar</a>
|
<a href="{% url 'country-delete' country.id %}">Borrar</a>
)
{% endif %}
    {% endfor %}

    {% if user.is_authenticated %}
<div>
    <a name="" id="" class="btn btn-succees" href="{% url 'country_form' %}" role="button">Añadir nuevo país</a>
</div>
{% endif %}

{% endblock %}